@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input:focus,
textarea:focus {
  outline: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.navbar {
  background-color: #232536;
  box-shadow: 2px 5px 50px -10px black;
}
.navbar .nav-link {
  position: relative;
  margin-right: 25px;
}
.navbar .nav-link:after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.navbar .nav-link:hover {
  color: #fff;
}
.navbar .nav-link:hover::after {
  width: 100%;
}
.navbar .offcanvas {
  background-color: #232536;
}

.finsweet {
  text-align: center;
  min-height: 70vh;
  margin-top: 170px;
}
.finsweet__h5 {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.finsweet__h2 {
  color: #232536;
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 30px;
}
.finsweet__p {
  color: #232536;
  font-size: 16px;
  margin-bottom: 50px;
  font-weight: 400;
}

.positions {
  min-height: 110vh;
}
.positions__h5 {
  color: #232536;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
.positions__p {
  text-align: center;
  margin-bottom: 50px;
}
.positions__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: #ecf8f9;
  flex-wrap: wrap;
  text-align: center;
  min-height: 80vh;
  border: 10px solid #ecf8f9;
  width: 100%;
}
.positions__row-card {
  width: 30%;
  background-color: #fff;
  padding: 10px;
}
.positions__row-card-h4 {
  color: #232536;
  font-size: 20px;
  font-weight: 600;
}
.positions__row-card-p {
  color: #232536;
  font-size: 14px;
  font-weight: 400;
}
.positions__row-card a {
  text-decoration: none;
}

.culture {
  min-height: 100vh;
}
.culture__h5 {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.culture__h2 {
  color: #232536;
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 30px;
}
.culture__p {
  color: #232536;
  font-size: 16px;
  margin-bottom: 50px;
  font-weight: 400;
}
.culture__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.culture__row-card {
  margin-bottom: 30px;
  width: 47%;
  padding: 10px;
  border-radius: 5px;
  background-color: #fafacf;
}
.culture__row-card-h3 {
  color: #232536;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
}
.culture__row-card-p {
  color: #232536;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}