@use "../global";
@use "../components/news-letter";
@use "../base/typography";
@use "../layout/container" as cont;
@use "../utils/mixins" as var;
@use "../utils/variables" as colors;
@use "../layout/footer";
@use "../layout/header";
@use "../layout/loader";

.company {
  font-family: "Poppins";
  margin-top: 20px;
  min-height: 115vh;
  &__h4 {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__h1 {
    width: 50%;
    color: #232536;
    font-size: 48px;
    font-weight: 600;
    margin-top: 20px;
  }
  &__p {
    width: 55%;
    color: #232536;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 400;
  }
  div {
    margin-top: 20px;
    @include var.df(space-between, center, row);
  }
}

.story {
  min-height: 60vh;
  @include var.df(space-between, center, row);
  &__left {
    width: 44%;
    img {
      margin-bottom: 20px;
    }
    &-h5 {
      color: #232536;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 16px;
    }
    &-h2 {
      color: #232536;
      font-size: 36px;
      margin-bottom: 20px;
      font-weight: 600;
    }
  }
  &__right {
    background: rgba(255, 211, 175, 0.57);
    @include var.df(space-between, center, row);
    padding: 40px;
    &-rating {
      margin-left: 70px;
      margin-right: 70px;
      margin-bottom: 20px;
      &-num {
        color: #232536;
        font-size: 36px;
        font-weight: 600;
      }
      &-text {
        color: #232536;
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
      }
    }
  }
}

.logoipsum {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 30px;
  @include var.df(space-between, center, row);
  background-color: #fafafc;
}

.expertise {
  @include var.df(space-between, center, row);
  min-height: 90vh;
  &__left {
    width: 45%;
    &-h5 {
      color: #000;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &-h1 {
      color: #232536;
      font-size: 48px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    &-p {
      color: #5d5f6d;
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__right {
    &-column {
      &-card {
        @include var.df(space-between, center, row);
        height: 120px;
        margin-bottom: 30px;
        margin-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
        background: #ecf8f9;
        img {
          margin-right: 20px;
        }
        &-h4 {
          color: #000;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 15px;
        }
        &-p {
          color: #5d5f6d;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}

.vision {
  min-height: 100vh;
  &__h5 {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__h2 {
    color: #232536;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 50%;
  }
  &__p {
    color: #232536;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
    width: 50%;
  }
}

.team {
  min-height: 120vh;
  &__h5 {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__h1 {
    color: #232536;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &__p {
    color: #232536;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
    width: 50%;
  }
}
